<template>
    <div class="container">
        <div class="header-text">
            <h1>Weather Forecast</h1>
        </div>
        <!-- Search for weather by city name -->
        <form @submit.prevent="searchForWeather">
            <div class="search-weather-by-city">
                <div class="input-group_item-search">
                    <input type="text" class="form-control" placeholder="Search..." v-model="search">
                    <span class="input-group-prepend">
                    <button class="btn btn-secondary" type="submit" value="submit">Search</button>
                </span>
                </div>
            </div>
        </form>

        <div>
            <div class="col" >
            <!-- List of added cities -->
                <form>
                    <div class="city-list-group" v-for="(city, name) in cityList">
                        <div class="city-list">
                            <button class="btn" @click.prevent="showWeatherForFiveDays(city.name)">{{city.name}}</button>
                            <button class="delete-btn" @click.prevent="deleteAddedCity(city.id)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </form>
                <!-- Current weather card -->
                <div class="weather-card" v-if="showCurrentWeatherCard">
                    <form @submit.prevent="addWeather">
                        <button
                            type="submit"
                            class="add-city">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                            </svg>
                        </button>
                    </form>
                    <div class="top">
                        <div class="wrapper">
                            <img :src='conditionIcon'>
                            <h1 class="heading">{{ conditionText }}</h1>
                            <h3 class="location">{{ name }}, {{ country }}</h3>
                            <p class="temp">
                                <span class="temp-value">{{ temperature }}</span>
                                <span class="deg">0</span>
                                <span class="temp-type">C</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Weather forecast for 5 days   -->
        <div  v-if="showWeatherForecast">
            <div class="weather-card weather-forecast">
                <h3 class="card-title">Weather forecast for 5 days</h3>
                <h3 class="location">{{ name }}, {{ country }}</h3>
                <ul class="day-list" v-for="forecastDay in forecastDayList">
                    <li>
                        <div class="day-list-value">
                            <span class="date">{{ forecastDay.dt_txt }}</span>
                            <div class="parameters">
                                <img :src="forecastIcon + forecastDay.weather[0].icon + '.png'">
                                <span>{{forecastDay.main.temp}}</span>
                                <span>{{ forecastDay.weather[0].main }}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {

    data(){
        return {
            apiKey: 'cbbb2b5e03aae7123343ec48a2bc2a1a',
            cityList: [],
            showCurrentWeatherCard: false,
            showWeatherForecast: false,
            search: '',
            name: '',
            country: '',
            temperature: '',
            feelsLike: '',
            humidity: '',
            conditionText: '',
            conditionIcon: '',
            errors: '',
            forecastDayList: [],
            forecastIcon: 'http://openweathermap.org/img/w/'
        }
    },
     created() {
        var _this = this;

        axios.get('/get-weather')
        .then(function(response){
            _this.cityList = response.data
        })
        .catch(error=>{
        });
    },
    methods: {

        searchForWeather(){
            axios.post('/search-weather',{searchWeatherByCityName: this.search, })
            .then((response)=>{
                this.name = response.data.name
                this.country = response.data.country
                this.temperature = response.data.temp_c
                this.feelsLike = response.data.feels_like_c
                this.humidity = response.data.humidity
                this.conditionText = response.data.condition_text
                this.conditionIcon = 'http:' + response.data.icon
                this.showCurrentWeatherCard = true
                this.showWeatherForecast = false
            })
            .catch((error)=>{
                this.showWeatherCard = false
                this.errors = 'Weather with this city name was not found'
            })
        },
        addWeather(){
            this.cityList.push(this.name)

            let data = {
                cityName: this.name,
                country: this.country,
                temperature: this.temperature,
                feelsLike: this.feelsLike,
                humidity: this.humidity,
                text: this.conditionText,
                icon: this.conditionIcon
            }

            axios.post('/add-weather',{data})
            .then((response)=>{
                this.cityList = response.data
            })
            .catch((error)=>{
            })
        },

        showWeatherForFiveDays(name){
            this.showCurrentWeatherCard = false
            this.showWeatherForecast = true

            let cityName = name

            axios.get('http://api.openweathermap.org/data/2.5/forecast?q=' + cityName + '&units=metric&appid=' + this.apiKey)
            .then((response)=>{
                this.name = response.data.city.name
                this.country = response.data.city.country
                this.forecastDayList = [response.data.list[0], response.data.list[8], response.data.list[16], response.data.list[24],response.data.list[32]]
            })
            .catch((error)=>{
            })
        },

        deleteAddedCity(id){
            axios.get('/delete-city/' + id)
            .then((response)=>{
                this.cityList = response.data
                this.showWeatherForecast = false
                this.showCurrentWeatherCard = false
            })
            .catch((error)=>{
            })
        }
    },
}
</script>

